.btn0 {
    position: absolute;
    top: calc(225 / 1080 * 100%);
    left: calc(1373 / 1920 * 100%);
}
.btn1 {
    position: absolute;
    top: calc(282 / 1080 * 100%);
    left: calc(580 / 1920 * 100%);
}
.btn2 {
    position: absolute;
    top: calc(404 / 1080 * 100%);
    left: calc(1148 / 1920 * 100%);
}
.btn3 {
    position: absolute;
    top: calc(475 / 1080 * 100%);
    left: calc(1414 / 1920 * 100%);
}
.btn4 {
    position: absolute;
    top: calc(482 / 1080 * 100%);
    left: calc(687 / 1920 * 100%);
}
.btn5 {
    position: absolute;
    top: calc(629 / 1080 * 100%);
    left: calc(1081 / 1920 * 100%);
}
.btn6 {
    position: absolute;
    top: calc(669 / 1080 * 100%);
    left: calc(1306 / 1920 * 100%);
}
.btn7 {
    position: absolute;
    top: calc(713 / 1080 * 100%);
    left: calc(1593 / 1920 * 100%);
}
.btn8 {
    position: absolute;
    top: calc(714 / 1080 * 100%);
    left: calc(446 / 1920 * 100%);
}
.btn9 {
    position: absolute;
    top: calc(790 / 1080 * 100%);
    left: calc(1107 / 1920 * 100%);
}
