img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -20; 
}

.shadow {
    background: #020F20;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 40%;
    z-index: -10;
}
span, .plus, .plus-horizontal, .plus-vertical {
    pointer-events: none;
}
button {
    z-index: 1;
}

.btn {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.btn-active {
    width: auto;
    height: 42px;
    border-radius: 40px;
    opacity: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.blue {
    background-color: rgb(56, 119, 238, .7);
}

.green {
    background-color: rgb(106, 191, 75, .7) ;
}

.blue-active {
    background-color: rgb(56, 119, 238);
}

.green-active {
    background-color: rgb(106, 191, 75);
}

.plus {
    padding: 0;
    margin: 0;
}

.plus-vertical {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #fff;
    top: 26%;
    left: 48%;
}

.plus-horizontal {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 45%;
    transform: translateX(-50%);
    
}


.plus-active {
    position: relative;
    padding: 0 20px;
}

.location {
    display: none;
}

.location-active {
    display: block;

    font-size: 14px;
    padding:  15px 15px
}