img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -20; 
}

.shadow {
    background: #020F20;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 40%;
    z-index: -10;
}

span, .plus, .plus-horizontal, .plus-vertical {
    pointer-events: none;
}

button {
    z-index: 1;
}

.btn {
    border-radius: 40px;
    width: 41px;
    height: 41px;
    
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #fff;

    transition: width .3s, background-color .5s;
    transition-timing-function: ease-in;
}

.btn-active {
    width: 122px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    opacity: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

    transition: width .5s, background-color .7s;
    transition-timing-function: ease-in;
}

.blue {
    background-color: rgb(56, 119, 238, .7);
}

.green {
    background-color: rgb(106, 191, 75, .7) ;
}

.blue-active {
    background-color: rgb(56, 119, 238);
}

.green-active {
    background-color: rgb(106, 191, 75);
}

.plus-vertical {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #fff;
    top: 26%;
    left: 47.5%;
}

.plus-horizontal {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 47%;
    transform: translateX(-50%);
}

.plus-active {
    position: relative;
    padding: 15px 20px;
}

.location {
    color: transparent;
}

.location-active {
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding:  15px 15px 15px 0;
    transition: color .3s;
    transition-timing-function: linear;
    transition-delay: .5s;
    color: #fff;
}